<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viajes a China</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
</head>

<body>

<div class="contenedor">  
  <h1>Bienvenid@ a los Senderos del Dragón.</h1>
  <p> Estos son algunos viajes disponibles y comodos para visitar las maravillas de China y sus lindas tradiciones.</p>
  <a href="{{ url_for('Informacion') }}"  class="boton-redireccion">Haz click aquí</a> 
  </div>
  
</body> 
</html> 
